ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    
  }
li{
    float: left;
}
li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}
li a:hover{
    background-color: teal;
}
i{
    padding: 6px;
}