* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul.navbar1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 200px;
    border: 1px solid red;
}

ul.navbar1 li {
    border: 1px solid rgb(250, 98, 250);
}

ul.navbar1 li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 8px 16px;
    text-align: center;
}

ul.navbar1 li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

a.active {
    background-color: teal;
    color: white;
}

div.first-navbar::after {
    content: "";
    clear: both;
    display: table;
}

ul.navbar2 {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(18, 131, 131);
}

ul.navbar2 li {
    float: left;
}

ul.navbar2 li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 16px;
}

ul.navbar2 li a:hover:not(.user) {
    background-color: red;
    color: black;
}
