body{
    margin: 100px 0px 0px 50px;
}
p{
    padding: 50px;
    background-color: lightblue;
    border-left: 7px solid red;
}
div.ex1 {
    width: 300px;
    background-color: yellow;
  }
  div.ex3 {
    width: 300px;
    padding: 25px;
    background-color: lightblue;
  }
  #ex2{
    width: 300px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: lightblue;
  }