*{
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
.box{
    width: 50%;
    float: left;
}
input{
    padding: 15px;
    margin-top: 10px;
    border-radius: 3px;
  
}
a.log-in{
    text-decoration: none;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 13px 105px;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: bolder;
}
a.forget-password{
    text-decoration: none;
   padding: 15px 60px;
    text-align: center;
    font-weight: 500;

}
div.form-box{
   background-image: li;
}