#static{
    background-color: red;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(50, 77, 197);
    position:static;
    left: 20%;
    /* Static positioned elements are not affected by the top, bottom, left, and right properties. */
}
#fixed{
    background-color: blue;
    max-width: 300px;
    height: 150px;
    position: fixed;
    top: 30px;
    left: 30%;
}
#sticky{
    background-color: yellow;
    max-width: 100px;
    height: 100px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    z-index: 1;
    /* overlapping position when negative value, ata sob niche thakbe and positive value, ata sob upore thakbe */
}
#relative{
    background-color: violet;
    max-width: 180px;
    height: 180px;
    position: relative;
    left: 35%;
}
#absulate{
    background-color: turquoise;
    max-width: 130px;
    height: 130px;
    position:absolute;
    left: 35%;
}
#relative-absolute{
    background-color: tomato;
    max-width: 400px;
    height: 400px;
    border: 3px dotted black;
    position: relative;
}
div.absolute-center, div.absolute-top-left, 
div.absolute-top-right, div.absolute-bottom-left, 
div.absolute-bottom-right{
    background-color: rgb(10, 206, 131);
    max-width: 50px;
    height: 50px;
    border: 2px  solid white;
    position: absolute;
}
div.absolute-center{
    top: 45%;
    left: 40%;
}
div.absolute-top-left{
    top: 0px;
    left: 0px;
}
div.absolute-top-right{
    top: 0px;
    right: 0px;
}
div.absolute-bottom-left{
    left: 0px;
    bottom: 0px;
}
div.absolute-bottom-right{
    bottom: 0px;
    right: 0px;
}

