* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.dropdown1 {
    position: relative;
    display: inline-block;
}

div.dropdown-content1 {
    display: none;
    position: absolute;
    overflow: auto;
    min-width: 100px;
    z-index: 1;
    /* background-color: red; */
    /* padding: 8px 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5); */
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

ul.dropdown-para {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
}

ul.dropdown-para li a {
    display: block;
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}

ul.dropdown-para li a:hover {
    background-color: rgb(24, 124, 38);
}

div.dropdown2 {
    position: relative;
    display: inline-block;
}

button.button1 {
    background-color: green;
    color: #fff;
    padding: 12px 18px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    position: absolute;
    display: none;
    background-color: rgb(204, 202, 202);
    min-width: 111px;
    z-index: 1;
    box-shadow: 0 5px 5px 0 rgba(94, 94, 94, 0.8);
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

ul.dropdown-para2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navbar li{
    float: left;
}

ul.navbar li>a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.navbar li>a:hover, .dropdown:hover .dropbtn{
    background-color: red;
}
ul.navbar li.dropdown{
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }